* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 html, body{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(7, 7, 7),rgb(15, 21, 32), rgb(7, 7, 7));
    background-repeat: no-repeat;
}

#title-page {
    text-align: center;
    padding-top: 5px;
    color: gainsboro;
}

/* <div class="slider">
    <ul class="slider-list">
        <!-- jQuery -->
        <li class="movie-slide slide1">
            <p>The Good, the Bad and the Ugly</p>
            <img src="https://m.media-amazon.com/images/M/MV5BNjJlYmNkZGItM2NhYy00MjlmLTk5NmQtNjg1NmM2ODU4OTMwXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg">
        </li>
        <li class="movie-slide slide2">
            <p>The Good, the Bad and the Ugly</p>
            <img src="https://m.media-amazon.com/images/M/MV5BNjJlYmNkZGItM2NhYy00MjlmLTk5NmQtNjg1NmM2ODU4OTMwXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg">
        </li>
        <li class="movie-slide slide3">
            <p>The Good, the Bad and the Ugly</p>
            <img src="https://m.media-amazon.com/images/M/MV5BNjJlYmNkZGItM2NhYy00MjlmLTk5NmQtNjg1NmM2ODU4OTMwXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg">
        </li>
    </ul>

    <div class="btn-change-slides">
        <button class="prev"><</button>
        <button class="next">></button>
    </div>
</div>


<div class="spoiler-section">
    <h3 class="" id="h3-spoiler"></h3>
    <button id="btn-spoiler">Show spoiler</button>
    <p id="p-spoiler"></p>
</div> */

.slider {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.slider-list {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

/* Slides */
.movie-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    color: #e2ad67;
    width: 25%;
    margin-top: 50px;
}
.movie-slide p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    width: 125px;
    text-align: center;
    margin-bottom: 12px;
}
.movie-slide img {
    width: 100px;
    border-radius: 5px;
}

#imbd-rating {
    color: #e2ad67;
}

/* The important slide  !!! */
.slide2 {
    width: 50%;
    opacity: 1;
    margin-top: 0px;
}
.slide2 p {
    font-size: 20px;
    width: 290px;
}
.slide2 img {
    width: 200px;
}

/* Buttons prev/next */
.change-slides {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: #eb9423;
    color: #393939;
}
.change-slides:hover {
    background-color: #f2a642;
    color: #242424;
}
#prev {
    left: 100px;
}
#next {
    right: 100px;
}





.spoiler-section {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: gainsboro;
}

#current-movie {
    color: #eb9423;
    margin-left: 5px;
}

#btn-spoiler {
    margin: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #e27324;
    color: #262626;
    cursor: pointer;
}
#btn-spoiler:hover {
    background-color: #eb9423;
    color: #242424;
}

#p-spoiler {
    width: 65%;
    line-height: 150%;
    text-align: justify;
}

